[class*='container'] {
    background-clip: content-box;
}

.row [class*='col'] {
    background-color: #efefef;
    background-clip: content-box;
}

.nav-item {
    background-color: #eeeeff;
    background-clip: content-box;
}

#log-logo{
    font-size: xx-large;
}

.Biglogo_social{
    max-width: 3%;
}

.Tinylogo_social{
    max-width: 3%;
}
footer{
    position: absolute;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 30px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    color: #702CF6;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    left:1000px;
}
.socials li{
    display: inline;
}

.footer-bottom{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}