<!-- TODO: Keep it sync with front
    REF:
    Footer
    FROM:
    MATH commit f7029ab
-->

{% load static %}

<footer>
    <div class="footer-content">
      <h3>FAToFIT</h3>
      <p>Rejoignez nous sur nos différents réseaux !</p>
      <ul class="socials">
          <li><a href="#"><i class="bi bi-facebook d-inline p-2 colorScial"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram d-inline p-2 colorScial"></i></a></li>
          <li><a href="#"><i class="bi bi-youtube d-inline p-2 colorScial"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter d-inline p-2 colorScial"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>copyright &copy;2023 FAToFIT. designed by <span>FAToFIT TEAM</span></p>
    </div>
</footer>