<!-- TODO: Keep it sync with front
REF:
    user home page
FROM:
    FrontLucas commit 49ffd5f
-->

{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>FAToFIT - Accueil</title>
{% endblock title %}

{% block style %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/header2.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/sidenav.css' %}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block header %}
{% include 'header2.html' %}
{% endblock header %}

{% block content %}
<div class="container-fluid flex-grow-1 d-flex flex-column flex-sm-row overflow-auto py-5">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <!-- Side navbar -->
        {% include 'sidenav.html' %}
        <!-- Main content -->
        <main class="col overflow-auto h-100 w-100">
            <!-- Main content changing for each page -->
            {% block main %}
            <div class="bg-light border rounded-3 p-3">
                <h1>Hello</h1>
            </div>
            {% endblock main %}
        </main>
    </div>
</div>
{% endblock content %}