{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>FAToFIT - Accueil</title>
{% endblock title %}

{% block style %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/header2.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/sidenav.css' %}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block script %}
<script src="{% static 'js/home_functions.js' %}" defer></script>
{% endblock script %}

{% block header %}
{% include 'header2.html' %}
{% endblock header %}

{% block content %}
<div class="py-4 container-fluid flex-grow-1 flex-sm-row overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <!-- Side navbar -->
        {% include 'sidenav.html' %}
        <!-- Main content -->
        <main class="col overflow-auto h-100 w-100 pb-4">
            {% block main %}
            <!-- Box, a encapsuler pour tous les items -->
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="mx-auto row align-items-center no-gutters">
                        <div class=" col-xxl-12 offset-lg-0 offset-xxl-0 me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs" style="margin-bottom: 20px;">
                                <span>
                                    <span style="color: black;">Calories restants</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-start d-inline d-md-flex justify-content-between" style="width: 80%;">
                        <div class="align-self-center"></div>
                        <div class="mx-2 d-flex flex-column">
                            <span id="objectif-val" class="fs-5 fw-bolder text-center text-dark">2323</span>
                            <span class="fs-5 fw-bolder text-center">
                                <span style="color: rgb(164, 164, 164)">Objectif</span>
                            </span>
                        </div>
                        <div class="mx-2 d-flex flex-column">
                            <span class="fs-5 fw-bolder text-center text-dark">+</span>
                            <span class="fs-5 fw-bolder text-center"></span>
                        </div>
                        <div class="mx-2 d-flex flex-column">
                            <span id="sport-val"  class="fs-5 fw-bolder text-center text-dark">123</span>
                            <span class="fs-5 fw-bolder text-center">
                                <span style="color: rgb(164, 164, 164)">Sport</span>
                            </span>
                        </div>
                        <div class="mx-2 d-flex flex-column">
                            <span class="fs-5 fw-bolder text-center text-dark">-</span>
                            <span class="fs-5 fw-bolder text-center"></span>
                        </div>
                        <div class="mx-2 d-flex flex-column">
                            <span id="alim-val" class="fs-5 fw-bolder text-center text-dark">1567</span>
                            <span class="fs-5 fw-bolder text-center">
                                <span style="color: rgb(164, 164, 164)">Nourriture</span>
                            </span>
                        </div>
                        <div class="mx-2 d-flex flex-column">
                            <span class="fs-5 fw-bolder text-center text-dark">=</span>
                            <span class="fs-5 fw-bolder text-center"></span>
                        </div>
                        <div class="mx-2 d-flex flex-column">
                            <span id="rest-val" class="fs-5 fw-bolder text-center text-dark"></span>
                            <span class="fs-5 fw-bolder text-center">
                                <span style="color: rgb(164, 164, 164)">Restant</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>

            <div class="card shadow border-start-primary py-2 mt-3">
                <div class="card-body">
                    <div class="mx-auto row align-items-center no-gutters">
                        <div class=" col-xxl-12 offset-lg-0 offset-xxl-0 me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs" style="margin-bottom: 20px;">
                                <span>
                                    <span style="color: black;">Historique des entrées de calories journaliers</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="Chart-cal" class="my-2 mx-auto"><canvas id="ptichart"></canvas></div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js" integrity="sha512-vCUbejtS+HcWYtDHRF2T5B0BKwVG/CLeuew5uT2AiX4SJ2Wff52+kfgONvtdATqkqQMC9Ye5K+Td0OTaz+P7cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>              
                    <script src="{% static 'js/home_chart.js' %}"></script>
                </div>
                <div></div>
            </div>
            {% endblock main %}
        </main>
    </div>
</div>
{% endblock content %}