{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>FAToFIT - Profil</title>
{% endblock title %}

{% block style %}
<link href="{% static 'css/header2.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/sidenav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/progress.css' %}" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="{% static 'js/form_validation.js' %}" defer></script>
{% endblock script %}

{% block main %}
<div class="card shadow border-start-primary py-2">
    <div class="card-body">
        <h1 class="px-3">Progression</h1>
        <p class="px-3 m-0">Suivez votre progression vers l'objectif que vous vous etes donné !</p>
    </div>
</div>

<div class="card shadow border-start-primary py-2 mt-3">
    <div class="card-body">
        <div id="step1" class="d-block">
            <button type="button" id="btn-step1" class="d-block btn btn-primary btn-block gradient-custom fa-lg p-2 shadow border mx-auto">
                <i class="bi bi-plus-square me-2"></i>Du nouveau ?
            </button>
        </div>
        <div id="step2" class="d-none">
            <div class="container text-center">
                <form method="POST" action="{% url 'progress_add' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="">
                        <div class="form-group px-4">
                            <label for="weight">Nouveau Poids (en kg)</label>
                            <input type="number" id="weight" name="weight" class="form-control" step="1" min="0" max="250" required>
                            <div class="invalid-feedback">
                                Veuillez saisir un poids valide (+ 20 kg).
                            </div>
                        </div>
                        <div class="text-center pt-3">
                            <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom shadow" id="btn-step2">
                                <i class="bi bi-patch-check me-2 text-white"></i>Ajoutez la donnée
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card shadow border-start-primary py-2 mt-3">
    <div class="card-body" >
        <h4>Evolution de votre poids</h4>
        <canvas id="canvas" style="max-height:450px;"></canvas>
    </div>
</div>

<div class="card shadow border-start-primary py-2 mt-3">
    <div class="card-body">
        <h4>Evolution de votre IMC</h4>
        <canvas id="imc" style="max-height:450px;"></canvas>
        <script src="../static/js/progression.js"></script>
    </div>
</div>

{% endblock main %}