{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>FAToFIT - Profil</title>
{% endblock title %}

{% block style %}
<link href="{% static 'css/header2.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/sidenav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/progress.css' %}" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="../static/js/training_function.js"></script>
{% endblock script %}

{% block main %}
<div class="card shadow border-start-primary py-2">
    <div class="card-body">
        <h1>Votre progression :</h1>
    </div>
</div>
<!-- Box, a encapsuler pour tous les items -->
<div class="card shadow border-start-primary py-2 mt-3">
    <div class="card-body">
        <h4>Mensuration :</h4>
        <div class="container text-center">
            <div class="col-xs-3 center-block colordiv" style="background-color: rgba(0, 0, 0, 0)">
                <div class="row">
                    <div class="col">
                            <input type="number" placeholder="Taille" id="height" name="height" class="form-control" step="1" min="0" max="250" required>
                    </div>
                    <div class="invalid-feedback">
                        Veuillez saisir un poids valide (+ 20 kg).
                    </div>
                    <div class="col">
                            <input type="number" placeholder="Poids" id="weight" name="weight" class="form-control" step="1" min="0" max="250">
                    </div>
                    <div class="invalid-feedback">
                        Veuillez saisir une taille valide (+ 20 cm).
                    </div>
                    
                </div>
                <button class="button button1 w-25">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<div class="card shadow border-start-primary py-2 mt-3">
    <div class="card-body" >
        <h4>Progression de votre poids :</h4>
        <canvas id="canvas" style="max-height:450px;"></canvas>
    </div>
</div>

<div class="card shadow border-start-primary py-2 mt-3">
    <div class="card-body">
        <h4>Evolution de votre IMC :</h4>
        <canvas id="imc" style="max-height:450px;"></canvas>
        <script src="../static/js/progression.js"></script>
    </div>
</div>

{% endblock main %}